# Assignment 2 Day 2

try 5 different functions of the list object in python

1. count function : it counts the no of times the given argument occurs inside the list

In [85]:
lst = ["umang","sadhwani",19,124,["divya",23,"bitto",27,"sadhwani"],2.15,"sadhwani"]

In [86]:
lst.count(19)

1

In [87]:
lst.count("sadhwani")

2

In [88]:
lst[4].count(23)

1

In [89]:
lst.count(23)

0

2. pop function : this function deletes the element at the index given as parameter and prints the popped element

In [90]:
lst.pop(2)

19

In [91]:
lst

['umang',
 'sadhwani',
 124,
 ['divya', 23, 'bitto', 27, 'sadhwani'],
 2.15,
 'sadhwani']

In [92]:
lst[3].pop(2)

'bitto'

In [93]:
lst

['umang', 'sadhwani', 124, ['divya', 23, 27, 'sadhwani'], 2.15, 'sadhwani']

3. reverse function : it reverses the whole list upside down

In [94]:
lst.reverse()

In [95]:
lst

['sadhwani', 2.15, ['divya', 23, 27, 'sadhwani'], 124, 'sadhwani', 'umang']

4. sort function : it arranges the list in ascending order automatically

In [96]:
lst2=[22.3,45,11.4,6,89]

In [97]:
lst2.sort()

In [98]:
lst2

[6, 11.4, 22.3, 45, 89]

In [99]:
lst3=["divya","umang","bitto"]

In [100]:
lst3.sort()

In [101]:
lst3

['bitto', 'divya', 'umang']

5. clear function : it deletes all the elements of the list and makes it an empty list

In [102]:
lst.clear()

In [103]:
lst

[]

In [104]:
lst2

[6, 11.4, 22.3, 45, 89]

In [105]:
lst2.clear()

In [106]:
lst2

[]

In [107]:
lst3.clear()

In [108]:
lst3

[]